.colored-section{
    background-color:#000000;
    height: 30rem;
    width: 100%;
    position: static;
  }

  .nav-link{
    font-size: 1.5rem;
    color: white;
  }
  h1{
  color:white;
  text-align:center;
  padding-top: 8rem;
  padding-bottom: 15rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  }

  .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
